html {
    font-size: 100%;
}

/* global style */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;
    grid-template-rows: auto 1fr auto;
}
/* header */
header {
    grid-area: header;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h4 {
    color: #ffffff;
    margin-left: 2rem;
}

nav ul {
    display: flex;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 1rem;
}



/* main */
main {
    grid-area: main;
}
.hero{
    /* Position and center the image to scale nicely on all screens */
    background-image: url(img/hero-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);
}
.hero-text {
    text-align: center;
    position: absolute;
    font-size: 3rem;
    color: #ffffff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
/* footer */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: black;
    color: #ffffff;
}